{
  "CN": "{{ca_consul_csr_cn}}",
  "key": {
    "algo": "{{ca_consul_csr_key_algo}}",
    "size": {{ca_consul_csr_key_size}}
  },
  "names": [
    {
      "C": "{{ca_consul_csr_names_c}}",
      "L": "{{ca_consul_csr_names_l}}",
      "O": "{{ca_consul_csr_names_o}}",
      "OU": "{{ca_consul_csr_names_ou}}",
      "ST": "{{ca_consul_csr_names_st}}"
    }
  ]
}
