{
  "CN": "{{consul_csr_cn}}",
  "key": {
    "algo": "{{consul_csr_key_algo}}",
    "size": {{consul_csr_key_size}}
  },
  "names": [
    {
      "C": "{{consul_csr_names_c}}",
      "L": "{{consul_csr_names_l}}",
      "O": "{{consul_csr_names_o}}",
      "OU": "{{consul_csr_names_ou}}",
      "ST": "{{consul_csr_names_st}}"
    }
  ]
}
